<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload New File</title>
</head>
<body>
    <h1>Upload New File</h1>
    <h2>Upload to Long-term Collection</h2>
    <form action="{{ url_for('upload_long_term') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <label for="id">Optional ID:</label>
        <input type="text" name="id">
        <input type="submit" value="Upload to Long-term">
    </form>
    
    <h2>Upload to Short-term Collection</h2>
    <form action="{{ url_for('upload_short_term') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload to Short-term">
    </form>

    <h2>Upload to Wav Collection</h2>
    <form action="{{ url_for('upload_wav') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <label for="id">Optional ID:</label>
        <input type="text" name="id">
        <input type="submit" value="Upload to Wav Collection">
    </form>

    <h2>Clean Collections</h2>
    <form action="{{ url_for('clean_collections_route') }}" method="post">
        <input type="submit" value="Clean All Collections">
    </form>

    <a href="{{ url_for('uploaded_files.uploaded_files') }}">See Uploaded Files</a>
</body>
</html>